<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dearbebe</title>
  <link rel="stylesheet" href="{% static 'reviews/common.css' %}" />
  <link rel="stylesheet" href="{% static 'reviews/share.css' %}" />
</head>

<body>
  <div class="main-container">
    <div class="header">
      <button class="back-btn">
        <img src="{% static 'reviews/images/back-btn.svg' %}" alt="" />
      </button>
      <div class="header-title">나눔 내역</div>
    </div>

    <div class="section">
      <div class="mini-dropdown">
        <div class="selected">
          <p>받은 나눔</p>
          <img src="{% static 'reviews/images/down-icon.svg' %}" alt="드롭다운 아이콘" class="down-icon" />
        </div>
        <div class="options hidden">
          <a href="{% url 'my_sent_donations' %}" class="dropdown-item">보낸 나눔</a>
        </div>
      </div>
    </div>
  </div>

  {% for date, donations in grouped.items %}
  <div class="date-label">{{ date }}</div> 

  {% for donation in donations %}
  <div class="item-card">
      {# 이미지가 하나 이상 있을 때 첫 번째 이미지 출력 #}
      {% with donation.item.images.first as first_image %}
        {% if first_image %}
          <img src="{{ first_image.image.url }}" alt="{{ donation.item.title }}" class="item-img" />
        {% else %}
          <img src="{% static 'reviews/images/image.svg' %}" alt="사진 없음" class="item-img" />
        {% endif %}
      {% endwith %}

      <div class="item-info">
        <p class="item-title">{{ donation.item.title }}</p>
        <p class="item-people">
          <span class="who">{{ donation.item.member.nickname }}</span>와의 거래
        </p>
        <p class="item-detail">{{ donation.item.description }}</p>

      {% if donation.id %}
        <a href="{% url 'create_review' 'donation' donation.id %}">
          <button class="review-btn">후기 작성하기</button>
        </a>
      {% else %}
        <button class="review-btn" disabled>후기 작성 불가</button>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% endfor %}

  <!-- 하단 네비게이션 -->
  <footer class="bottom-nav">
    <nav>
      <a href="{% url 'home' %}">
        <img src="{% static 'reviews/images/home.svg' %}" alt="" />홈
      </a>
      <a href="{% url 'chat:thread_list' %}">
        <img src="{% static 'reviews/images/message.svg' %}" alt="" />쪽지
      </a>
      <a href="{% url 'requests:received_donation_requests' %}">
        <img src="{% static 'reviews/images/form.svg' %}" alt="" />신청 관리
      </a>
      <a href="{% url 'my_page' %}" class="active">
        <img src="{% static 'reviews/images/my-active.svg' %}" alt="" />마이페이지
      </a>
    </nav>
  </footer>
  </div>
  <script src="{% static 'reviews/js/share.js' %}"></script>

</body>

</html>