/* ===== 헤더 ===== */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px 0;
  font-weight: bold;
  font-size: 18px;
}

.back-btn {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 23px;
  height: 13px;
}

.back-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ===== 날짜 ===== */
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin: 12px 0;
}

.date-label {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin: 12px 16px 12px;
}
.dropdown-btn {
  width: 88px;
  height: 28px;
  font-size: 12px;
  background-color: var(--color-main);
  color: white;
  border: none;
  border-radius: 8.5px;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.down-icon {
  width: 13px;
  height: 7px;
  display: block;
}

/* ===== 아이템 카드 ===== */
.item-card {
  display: flex;
  padding: 12px 16px;
  gap: 12px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}

.item-img {
  width: 108px;
  height: 101px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.item-title {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  color: #000;
}

.item-people {
  font-size: 10px;
  color: var(--color-gray);
  margin: 2px 0;
}

.item-people .who {
  color: var(--color-main);
  font-weight: 600;
}

.item-detail {
  font-size: 12px;
  color: #8a8a8a;
  margin: 4px 0 8px;
  line-height: 100%;
  font-weight: 400;
}

.review-btn {
  width: 95px;
  height: 27px;
  font-size: 12px;
  background-color: var(--color-main);
  color: white;
  border: none;
  border-radius: 8px;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  margin-left: auto;
  display: block;
}

.review-btn:active {
  background-color: var(--color-deep-main);
}

/* ===== 하단 네비게이션 ===== */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* 가운데 정렬 */
  width: 100%;
  max-width: 430px;
  /* 📌 main-container와 동일하게 */
  background-color: #fff;
  z-index: 10;
}

.bottom-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
}

.bottom-nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: 11px;
  color: var(--color-light-main);
  cursor: pointer;
}

.bottom-nav li img {
  width: 30px;
  height: 30px;
}

.bottom-nav nav .active {
  color: var(--color-deep-main);
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}
