<!DOCTYPE html>
{% load static %}
{% load time_filters %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'posts/common.css' %}" />
    <link rel="stylesheet" href="{% static 'home/home_search.css' %}" />
<!--    <link rel="stylesheet" href="/posts/static/posts/common.css" />-->
<!--    <link rel="stylesheet" href="/home/static/home/home_search.css" />-->
    <title>Dearbebe</title>
</head>

<body>
    <div class="main-container">
        <div class="header">
            <div class="top-bar">
                <div class="top-location">{{ request.user.region_district }}</div>
                <div class="search-box">
                    <img src="{% static 'home/images/search-icon.svg' %}" alt="검색 아이콘" class="search-icon" />
<!--                    <img src="/home/static/home/images/search-icon.svg" alt="검색 아이콘" class="search-icon" />-->
                    <input type="text" class="search-input" id="searchInput" />
                </div> </div>


                <!-- ✅ 카테고리 메뉴 -->
                <div class="category-list">
                    <button class="category-btn {% if selected_category == '전체' %}active{% endif %}" onclick="location.href='?category=전체'">전체</button>
                    <button class="category-btn {% if selected_category == '의류' %}active{% endif %}" onclick="location.href='?category=의류'">의류</button>
                    <button class="category-btn {% if selected_category == '수유' %}active{% endif %}" onclick="location.href='?category=수유'">수유</button>
                    <button class="category-btn {% if selected_category == '위생' %}active{% endif %}" onclick="location.href='?category=위생'">위생</button>
                    <button class="category-btn {% if selected_category == '장난감' %}active{% endif %}" onclick="location.href='?category=장난감'">장난감</button>
                    <button class="category-btn {% if selected_category == '기타' %}active{% endif %}" onclick="location.href='?category=기타'">기타</button>
                </div>

        </div>


        <ul class="post-list">
            <h2 class="title">최신 등록글</h2>
            {% for item in items %}
            <div class="item-card">
                {% if item.images.first %}
                <img src="{{ item.images.first.image.url }}" alt="" class="item-img">
                {% endif %}
                <div class="item-info">
                    <p class="item-title">{{item.title}}</p>
                    <div class="state-line">
                        <button class="{% if item.trade_type == '무료나눔' %}free{% else %}state{% endif %}">
                            {{ item.trade_type }}
                        </button>
                        {% if item.age or item.condition %}
                            <p class="age">
                            {% if item.age %}{{ item.get_age_display }}{% endif %}
                            {% if item.age and item.condition %} / {% endif %}
                                {% if item.condition %}{{ item.get_condition_display }}{% endif %}
                            </p>
                        {% endif %}
                    </div>
                    <p class="item-detail">{{ item.description | truncatechars:63}}</p>
                    <div class="loca-min">
                        <div class="location">
                            <img src="{% static 'home/images/location.svg' %}" alt="" class="location-icon">
<!--                            <img src="/home/static/home/images/location.svg" alt="" class="location-icon">-->
                            <p class="loca">{{ item.region_dong }}</p>
                        </div>
                        <p class="minute">{{ item.created_at|time_since_custom }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
        <footer class="bottom-nav">
            <nav>
                <ul>
                    <li><img src="{% static 'reviews/images/home.svg' %}" alt=""><br />홈</li>
                    <li><img src="{% static 'reviews/images/message.svg' %}" alt=""><br />쪽지</li>
                    <li><img src="{% static 'reviews/images/form.svg' %}" alt=""><br />신청 관리</li>
                    <li><img src="{% static 'reviews/images/my-active.svg' %}" alt=""><br />마이페이지</li>
<!--                    <li><img src="/reviews/static/reviews/images/home.svg" alt=""><br />홈</li>-->
<!--                    <li><img src="/reviews/static/reviews/images/message.svg" alt=""><br />쪽지</li>-->
<!--                    <li><img src="/reviews/static/reviews/images/form.svg" alt=""><br />신청 관리</li>-->
<!--                    <li><img src="/reviews/static/reviews/images/my.svg" alt=""><br />마이페이지</li>-->
                </ul>
            </nav>
        </footer>
    </div>

</body>

</html>