<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dearbebe</title>
    <link rel="stylesheet" href="{% static 'user_requests/common.css' %}" />
    <link rel="stylesheet" href="{% static 'user_requests/sent_list.css' %}" />
    <script defer src="{% static 'user_requests/js/sent_list.js' %}"></script>
  </head>
  <body>
    <!-- 신청 취소, 삭제도 모달 염두에 두기 -->
    <div class="main-container">
      <div class="container">
        <!-- 헤더 -->
        <div class="header">
          <div class="header-title">신청 관리</div>
        </div>
        <!-- 받은 신청 보낸 신청-->
        <div class="mini-header">
          <div class="request-radio">
            <a href="{% url 'user_requests:received_exchange_requests' %}"
              >받은 신청</a
            >
            <a href="" class="marked">보낸 신청</a>
          </div>
          <!-- 나눔 교환 드롭다운 -->
          <div class="mini-dropdown">
            <div class="selected">
              <p>교환</p>
              <img
                src="{% static 'user_requests/images/down-icon-white.svg' %}"
                alt="드롭다운 버튼"
              />
            </div>
            <div class="options hidden">
              <a href="#" class="item">교환</a>
              <a href="{% url 'user_requests:sent_donation_requests' %}" class="item"
                >나눔</a
              >
            </div>
          </div>
        </div>
        <!-- 날짜에 따른 신청들 구분 -->
        <div class="requests-container">
          <div class="date">6/30</div>
          <!-- 각 신청 -->
          <div class="r-container">
            <div class="text-container">
              <div class="profile-bar">
                <img
                  src="{% static 'user_requests/images/default_profile.png' %}"
                  alt="기본 프로필 사진"
                />
                <!-- 프로필 사진이 있다면 <img ... / >-->
                <div class="profile">
                  <!-- 닉네임, 시간, 위치 -->
                  <div class="nickname-time">
                    <div class="nickname">닉네임</div>
                    <div class="time">13:20</div>
                  </div>
                  <div class="region">
                    <img
                      src="{% static 'user_requests/images/place.svg' %}"
                      alt="위치 아이콘"
                    />
                    <p id="region">상계동</p>
                  </div>
                </div>
              </div>
              <div class="title">미끄럼 방지 여아 신발</div>
            </div>
            <div class="gray-divide"></div>
            <!-- 썸네일 -->
            <div class="images-box">
              <!-- 고른 사진이 있을 때 -->
              <div class="image">
                <img
                  src="{% static 'user_requests/images/sample-img.png' %}"
                  alt="상품 이미지"
                />
              </div>
              <!-- 고른 사진이 없을 때 -->
              <div class="image-unknown">
                <img
                  src="{% static 'user_requests/images/image.svg' %}"
                  alt="사진 없음"
                />
              </div>
              <div class="image-unknown">
                <img
                  src="{% static 'user_requests/images/image.svg' %}"
                  alt="사진 없음"
                />
              </div>
            </div>
            <div class="title">
              <span>7세 여아 의류</span>
              <span class="gray-span">와 교환</span>
            </div>
            <!-- 거래 희망 장소 -->
            <div class="place place-condition-age">
              <div class="dot"></div>
              <span id="place">상계동 하나로 마트 앞</span>
              <span>/</span>
              <span id="condition">상태 양호</span>
              <span>/</span>
              <span id="age">7-8세 추천</span>
            </div>
            <div class="description">
              간단하게 입력된 설명 간단하게 입력된 설명 간단하게 입력된 설명
              간단하게 입력된 설명 간단하게 입력된 설명 간단하게 입력된 설명
            </div>
            <!-- 쪽지 버튼, 거절 버튼 -->
            <div class="button-wrapper">
              <!-- 버튼 - 대기중(신청 취소 버튼) -->
              <button class="txt-btn">신청 취소</button>
              <p class="waiting">대기중</p>
            </div>
          </div>
          <div class="r-container">
            <div class="text-container">
              <div class="profile-bar">
                <img
                  src="{% static 'user_requests/images/default_profile.png' %}"
                  alt="기본 프로필 사진"
                />
                <!-- 프로필 사진이 있다면 <img ... / >-->
                <div class="profile">
                  <!-- 닉네임, 시간, 위치 -->
                  <div class="nickname-time">
                    <div class="nickname">닉네임</div>
                    <div class="time">13:20</div>
                  </div>
                  <div class="region">
                    <img
                      src="{% static 'user_requests/images/place.svg' %}"
                      alt="위치 아이콘"
                    />
                    <p id="region">상계동</p>
                  </div>
                </div>
              </div>
              <div class="title">미끄럼 방지 여아 신발</div>
            </div>
            <div class="gray-divide"></div>
            <!-- 썸네일 -->
            <div class="images-box">
              <!-- 고른 사진이 있을 때 -->
              <div class="image">
                <img
                  src="{% static 'user_requests/images/sample-img.png' %}"
                  alt="상품 이미지"
                />
              </div>
              <!-- 고른 사진이 없을 때 -->
              <div class="image-unknown">
                <img
                  src="{% static 'user_requests/images/image.svg' %}"
                  alt="사진 없음"
                />
              </div>
              <div class="image-unknown">
                <img
                  src="{% static 'user_requests/images/image.svg' %}"
                  alt="사진 없음"
                />
              </div>
            </div>
            <div class="title">
              <span>7세 여아 의류</span>
              <span class="gray-span">와 교환</span>
            </div>
            <!-- 거래 희망 장소 -->
            <div class="place place-condition-age">
              <div class="dot"></div>
              <span id="place">상계동 하나로 마트 앞</span>
              <span>/</span>
              <span id="condition">상태 양호</span>
              <span>/</span>
              <span id="age">7-8세 추천</span>
            </div>
            <div class="description">
              간단하게 입력된 설명 간단하게 입력된 설명 간단하게 입력된 설명
              간단하게 입력된 설명 간단하게 입력된 설명 간단하게 입력된 설명
            </div>
            <!-- 쪽지 버튼, 거절 버튼 -->
            <div class="button-wrapper">
              <!-- 거절됨일 때(삭제 버튼) -->
              <button class="txt-btn">삭제</button>
              <p class="rejected">거절됨</p>
            </div>
          </div>
          <div class="r-container">
            <div class="text-container">
              <div class="profile-bar">
                <img
                  src="{% static 'user_requests/images/default_profile.png' %}"
                  alt="기본 프로필 사진"
                />
                <!-- 프로필 사진이 있다면 <img ... / >-->
                <div class="profile">
                  <!-- 닉네임, 시간, 위치 -->
                  <div class="nickname-time">
                    <div class="nickname">닉네임</div>
                    <div class="time">13:20</div>
                  </div>
                  <div class="region">
                    <img
                      src="{% static 'user_requests/images/place.svg' %}"
                      alt="위치 아이콘"
                    />
                    <p id="region">상계동</p>
                  </div>
                </div>
              </div>
              <div class="title">미끄럼 방지 여아 신발</div>
            </div>
            <div class="gray-divide"></div>
            <!-- 썸네일 -->
            <div class="images-box">
              <!-- 고른 사진이 있을 때 -->
              <div class="image">
                <img
                  src="{% static 'user_requests/images/sample-img.png' %}"
                  alt="상품 이미지"
                />
              </div>
              <!-- 고른 사진이 없을 때 -->
              <div class="image-unknown">
                <img
                  src="{% static 'user_requests/images/image.svg' %}"
                  alt="사진 없음"
                />
              </div>
              <div class="image-unknown">
                <img
                  src="{% static 'user_requests/images/image.svg' %}"
                  alt="사진 없음"
                />
              </div>
            </div>
            <div class="title">
              <span>7세 여아 의류</span>
              <span class="gray-span">와 교환</span>
            </div>
            <!-- 거래 희망 장소 -->
            <div class="place place-condition-age">
              <div class="dot"></div>
              <span id="place">상계동 하나로 마트 앞</span>
              <span>/</span>
              <span id="condition">상태 양호</span>
              <span>/</span>
              <span id="age">7-8세 추천</span>
            </div>
            <div class="description">
              간단하게 입력된 설명 간단하게 입력된 설명 간단하게 입력된 설명
              간단하게 입력된 설명 간단하게 입력된 설명 간단하게 입력된 설명
            </div>
            <!-- 쪽지 버튼, 거절 버튼 -->
            <div class="button-wrapper">
              <!-- 거래중일 때(버튼 없음) -->
              <div></div>
              <p class="trading">거래중</p>
            </div>
          </div>
        </div>

        <!-- 날짜에 따른 신청들 구분 -->
        <div class="requests-container">
          <div class="date">7/1</div>
          <div class="r-container">
            <div class="text-container">
              <div class="profile-bar">
                <img
                  src="{% static 'user_requests/images/default_profile.png' %}"
                  alt="기본 프로필 사진"
                />
                <!-- 프로필 사진이 있다면 <img ... / >-->
                <div class="profile">
                  <!-- 닉네임, 시간, 위치 -->
                  <div class="nickname-time">
                    <div class="nickname">닉네임</div>
                    <div class="time">13:20</div>
                  </div>
                  <div class="region">
                    <img
                      src="{% static 'user_requests/images/place.svg' %}"
                      alt="위치 아이콘"
                    />
                    <p id="region">상계동</p>
                  </div>
                </div>
              </div>
              <div class="title">미끄럼 방지 여아 신발</div>
            </div>
            <div class="gray-divide"></div>
            <!-- 썸네일 -->
            <div class="images-box">
              <!-- 고른 사진이 있을 때 -->
              <div class="image">
                <img
                  src="{% static 'user_requests/images/sample-img.png' %}"
                  alt="상품 이미지"
                />
              </div>
              <!-- 고른 사진이 없을 때 -->
              <div class="image-unknown">
                <img
                  src="{% static 'user_requests/images/image.svg' %}"
                  alt="사진 없음"
                />
              </div>
              <div class="image-unknown">
                <img
                  src="{% static 'user_requests/images/image.svg' %}"
                  alt="사진 없음"
                />
              </div>
            </div>
            <div class="title">
              <span>7세 여아 의류</span>
              <span class="gray-span">와 교환</span>
            </div>
            <!-- 거래 희망 장소 -->
            <div class="place place-condition-age">
              <div class="dot"></div>
              <span id="place">상계동 하나로 마트 앞</span>
              <span>/</span>
              <span id="condition">상태 양호</span>
              <span>/</span>
              <span id="age">7-8세 추천</span>
            </div>
            <div class="description">
              간단하게 입력된 설명 간단하게 입력된 설명 간단하게 입력된 설명
              간단하게 입력된 설명 간단하게 입력된 설명 간단하게 입력된 설명
            </div>
            <!-- 쪽지 버튼, 거절 버튼 -->
            <div class="button-wrapper">
              <!-- 거래 완료일 때(삭제 버튼)-->
              <button class="txt-btn">삭제</button>
              <p class="completed">거래 완료</p>
            </div>
          </div>
        </div>

        <!-- 하단 네비게이션 -->
        <footer class="bottom-nav">
          <nav>
            <a href="{% url 'home' %}">
              <img src="{% static 'user_requests/images/home.svg' %}" alt="" />홈
            </a>
            <a href="{% url 'chat:thread_list' %}">
              <img
                src="{% static 'user_requests/images/message.svg' %}"
                alt=""
              />쪽지
            </a>
            <a
              href="{% url 'user_requests:received_donation_requests' %}"
              class="active"
            >
              <img
                src="{% static 'user_requests/images/form-active.svg' %}"
                alt=""
              />신청 관리
            </a>
            <a href="{% url 'my_page' %}">
              <img
                src="{% static 'user_requests/images/my.svg' %}"
                alt=""
              />마이페이지
            </a>
          </nav>
        </footer>
      </div>
    </div>
  </body>
</html>
