<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chat/common.css' %}" />
    <link rel="stylesheet" href="{% static 'chat/chat_list.css' %}" />
    <title>Dearbebe</title>
</head>

<body>
    <div class="main-container">
        <div class="header">
            <div class="header-title">쪽지</div>
        </div>

        <ul class="chat_list">
            <li class="chat-item">
                <img src="{% static 'chat/images/profile-icon.png' %}" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="{% static 'chat/images/profile-icon.png' %}" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="{% static 'chat/images/profile-icon.png' %}" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="{% static 'chat/images/profile-icon.png' %}" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="{% static 'chat/images/profile-icon.png' %}" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="{% static 'chat/images/profile-icon.png' %}" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="{% static 'chat/images/profile-icon.png' %}" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="{% static 'chat/images/profile-icon.png' %}" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="{% static 'chat/images/profile-icon.png' %}" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
        </ul>
    </div>
    <!-- 하단 네비게이션 -->
        <footer class="bottom-nav">
          <nav>
            <a href="{% url 'home' %}">
              <img src="{% static 'chat/images/home.svg' %}" alt="" />홈
            </a>
            <a href="{% url 'chat:thread_list' %}" class="active">
              <img
                src="{% static 'chat/images/message-active.svg' %}"
                alt=""
              />쪽지
            </a>
            <a
              href="{% url 'user_requests:received_donation_requests' %}"
              
            >
              <img
                src="{% static 'chat/images/form.svg' %}"
                alt=""
              />신청 관리
            </a>
            <a href="{% url 'my_page' %}">
              <img
                src="{% static 'chat/images/my.svg' %}"
                alt=""
              />마이페이지
            </a>
          </nav>
        </footer>

    </div>
</body>

</html>