<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chat/common.css' %}" />
    <link rel="stylesheet" href="{% static 'chat/chat_list.css' %}" />
    <title>Dearbebe</title>
</head>

<body>
    <div class="main-container">
        <div class="header">
            <div class="header-title">쪽지</div>
        </div>

        <ul class="chat_list">
        {% for thread, unread, opponent_image in threads %}
        <!-- 오류는 아니고 vscode 상에서 인식이 안되는 문제인 것 같습니다. 일단 수정하지말아주세요 ! -->
            <li class="chat-item" onclick="location.href='{% url 'chat:chat_room' thread.thread_id %}'">
            {% if opponent_image %}
            <img src="{{ opponent_image }}" class="review-profile" alt="프로필" />
            {% else %}
            <img src="{% static 'chat/images/profile-icon.png' %}" class="review-profile" alt="프로필" />
            {% endif %}
            <div class="chat-content">
                <p class="chat-title">
                {% if thread.donation %}
                    {{ thread.donation.item.title }}
                {% elif thread.exchange %}
                    {{ thread.exchange.item.title }}
                {% endif %}
                </p>
                <p class="chat-start">
                {% if thread.messages.exists %}
                    {{ thread.messages.last.content|default:"사진을 보냈어요." }}
                {% else %}
                    대화가 시작되었어요! 지금 바로 대화를 시작해보세요
                {% endif %}
                </p>
            </div>
            <span class="time">
                {% if thread.messages.exists %}
                {{ thread.messages.last.sent_at|time:"H:i" }}
                {% endif %}
            </span>
            {% if unread %}
              <span class="indicator"></span>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <!-- 하단 네비게이션 -->
        <footer class="bottom-nav">
          <nav>
            <a href="{% url 'home' %}">
              <img src="{% static 'chat/images/home.svg' %}" alt="" />홈
            </a>
            <a href="{% url 'chat:thread_list' %}" class="active">
              <img
                src="{% static 'chat/images/message-active.svg' %}"
                alt=""
              />쪽지
            </a>
            <a
              href="{% url 'requests:received_donation_requests' %}"
              
            >
              <img
                src="{% static 'chat/images/form.svg' %}"
                alt=""
              />신청 관리
            </a>
            <a href="{% url 'my_page' %}">
              <img
                src="{% static 'chat/images/my.svg' %}"
                alt=""
              />마이페이지
            </a>
          </nav>
        </footer>

    </div>
</body>

</html>