.header {
  position: fixed;
  width: 100%;
  max-width: 430px;
  background-color: #ffffff;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid #bcbcbc;
}

.header-title {
  font-weight: 600;
  font-size: 22px;
}

.main-container {
  margin-top: 60px;
  margin-bottom: 67px;
}

.chat_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  border-bottom: 1px solid #bcbcbc;
  position: relative;
}

.review-profile {
  width: 45px;
  height: 45px;
  margin-right: 12px;
  border-radius: 50%;
}

.chat-content {
  flex: 1;
}

.chat-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222;
}

.chat-start {
  font-size: 13px;
  color: #8a8a8a;
  margin-top: 10px;
}

.time {
  font-size: 10px;
  color: #aaa;
  position: absolute;
  right: 30px;
  top: 15px;
}

/* 새 채팅 인디케이터 */
.indicator {
  background-color: #ff6c23;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 15px;
}

/* ===== 하단 네비게이션 ===== */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* 가운데 정렬 */
  width: 100%;
  max-width: 430px;
  /* 📌 main-container와 동일하게 */
  background-color: #fff;
  z-index: 10;
}

.bottom-nav nav {
  padding: 8px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-nav nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: 11px;
  color: var(--color-light-main);
}

.bottom-nav nav a img {
  width: 30px;
  height: 30px;
}

.bottom-nav .active {
  color: var(--color-deep-main);
}
