<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dearbebe</title>
    <link rel="stylesheet" href="/accounts/static/accounts/common.css" />
    <link rel="stylesheet" href="/accounts/static/accounts/location.css" />
    <script defer src="/accounts/static/accounts/js/location.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="header">
        <div class="header-title">동네 설정</div>
      </div>
      <form method="post" action="#">
        <div class="search-container">
          <input type="text" id="region" placeholder="동명(읍, 면)으로 검색" />
          <button class="search-btn">현재 위치로 검색</button>
        </div>
        <div class="result-container">
          <div class="result-title">근처 동네</div>
          <ul class="result">
            <li><button type="button">경기도 의정부시 송산 1동</button></li>
            <!-- button : 추후 동작 추가 필요 -->
            <li><button type="button">경기도 의정부시 송산 1동</button></li>
            <li><button type="button">경기도 의정부시 송산 1동</button></li>
          </ul>
        </div>
        <div class="button-wrapper">
          <button class="submit-btn">동네 인증 완료</button>
        </div>
      </form>
    </div>
  </body>
</html>
