<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/chat/static/chat/common.css" />
    <link rel="stylesheet" href="/chat/static/chat/chat_list.css" />
    <title>Dearbebe</title>
</head>

<body>
    <div class="main-container">
        <div class="header">
            <div class="header-title">쪽지</div>
        </div>

        <ul class="chat_list">
            <li class="chat-item">
                <img src="/reviews/static/reviews/images/profile-icon.png" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="/reviews/static/reviews/images/profile-icon.png" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="/reviews/static/reviews/images/profile-icon.png" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="/reviews/static/reviews/images/profile-icon.png" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="/reviews/static/reviews/images/profile-icon.png" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="/reviews/static/reviews/images/profile-icon.png" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="/reviews/static/reviews/images/profile-icon.png" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="/reviews/static/reviews/images/profile-icon.png" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
            <li class="chat-item">
                <img src="/reviews/static/reviews/images/profile-icon.png" class="review-profile" alt="프로필" />
                <div class="chat-content">
                    <p class="chat-title">미끄럼 방지 여아 신발</p>
                    <p class="chat-start">대화가 시작되었어요! 지금 바로 대화를 시작해보세요</p>
                </div>
                <span class="time">12:50</span>
            </li>
        </ul>
    </div>
    <footer class="bottom-nav">
        <nav>
            <ul>
                <li>
                    <img src="/reviews/static/reviews/images/home.svg" alt="" />홈
                </li>
                <li>
                    <img src="/reviews/static/reviews/images/message.svg" alt="" />쪽지
                </li>
                <li>
                    <img src="/reviews/static/reviews/images/form.svg" alt="" />신청
                    관리
                </li>
                <li class="active">
                    <img src="/reviews/static/reviews/images/my-active.svg" alt="" />마이페이지
                </li>
            </ul>
        </nav>
    </footer>

    </div>
</body>

</html>