<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dearbebe</title>
    <link rel="stylesheet" href="{% static 'posts/common.css' %}" />
    <link rel="stylesheet" href="{% static 'posts/detail.css' %}" />
    <script defer src="{% static 'posts/js/detail.js' %}"></script>
    <!-- <link rel="stylesheet" href="/posts/static/posts/common.css" />
    <link rel="stylesheet" href="/posts/static/posts/detail.css" />
    <script defer src="/posts/static/posts/js/detail.js"></script> -->
  </head>
  <body>
    <div class="main-container">
      <!-- 삭제 확인 모달 -->
      <div class="delete-modal hidden">
        <p>게시글을 삭제하시겠습니까?</p>
        <div class="x-divide"></div>
        <form method="POST" action="{% url 'post_delete' item.item_id%}">
          {% csrf_token %}
          <button type="button" id="cancel">취소</button>
          <div class="y-divide"></div>
          <button type="submit" id="ok">확인</button>
        </form>
      </div>
      <div class="darken hidden"></div>

      <div class="header">
        <a href="javascript:history.back()" class="back-btn">
          <img src="{% static 'posts/images/back.svg' %}" alt="뒤로가기" />
        </a>
        <div class="header-title">게시글</div>

        {% if request.user == item.member %}
<!--       게시글 작성자일 때만 더보기 버튼 보이게-->
        <button class="more-btn">
          <img src="{% static 'posts/images/more.svg' %}" alt="더보기" />
        </button>
        <!-- 수정 삭제 드롭다운 -->
        <div class="header-dropdown hidden">
          <a href="{% url 'post_update' item.item_id %}" class="dropdown-modify">수정</a>
          <div class="x-divide"></div>
          <button class="dropdown-delete">삭제</button>
        </div>
        {% else %}
          <button class="more-btn" style="visibility: hidden;"></button>
        {% endif %}
      </div>

      <div class="detail-container">
        <div class="img-container">
          <div class="img-box">
            {% for image in item.images.all  %}
            <img src="{{ image.image.url }}" alt="제품 사진{{ forloop.counter }}" />
            {% endfor %}
          </div>
          <div class="indicator">
            {% for image in item.images.all %}
            <!-- 사진 개수만큼 반복하도록 -->
            <div class="dot {% if forloop.first %}dot-active{% endif %}"></div>
            {% endfor %}
          </div>
        </div>


        <div class="text-container">
          <div class="profile-bar">
            <img
              src="{% static 'posts/images/default_profile.png' %}"
              alt="기본 프로필 사진"
            />
            <div class="profile">
              <div class="detail-nickname">{{item.member.nickname}}</div>
              <div class="detail-region">
                {{item.region_dong}}({{item.region_district}})
              </div>
            </div>
          </div>
          <div class="title">{{item.title}}</div>
          <div class="type-time">
            <div class="type {% if item.trade_type == '무료 나눔' %}free-type{% else %}exchange-type{% endif %}">
              {{item.trade_type}}
            </div>
            <!-- <div class="type exchange-type">교환</div> -->
            <div class="time">{{ item.created_at|date:"m/d H:i" }}</div>
          </div>
          <div class="place place-condition-age">
            <div class="dot"></div>
            <span id="place">{{ item.place }}</span>

            {% if item.condition or item.age %}
              <span>/</span>
            {% endif %}

            {% if item.condition %}
              <span id="condition">{{ item.get_condition_display }}</span>
              {% if item.age %}
                <span>/</span>
              {% endif %}
            {% endif %}

            {% if item.age %}
              <span id="age">{{ item.get_age_display }}</span>
            {% endif %}
          </div>
          <div class="description">
            {{ item.description|linebreaksbr }}
          </div>
        </div>
        <div class="button-wrapper">
          {% if item.sold_out %}
            <a href="#" class="submit-btn sold-out">거래 완료</a>
          {% else %}
            {% if item.trade_type == '무료 나눔' %}
              <a href="#" class="submit-btn">나눔 신청</a>
            {% else %}
              <a href="#" class="submit-btn">교환 신청</a>
            {% endif %}
          {% endif %}
<!--          <a href="./free.html" class="submit-btn">나눔 신청</a>-->
          <!-- <a href="./exchange.html" class="submit-btn">교환 신청</a> -->
          <!-- <a href="" class="submit-btn sold-out">거래 완료</a> -->
        </div>
      </div>
    </div>
  </body>
</html>
